/* header */
a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: gray;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}




/* contents */
.contents {
  position: relative;
}

.firstview {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.contents_item {
  position: absolute;
  top: 18%;
  left: 33%;
  line-height: 200%;
  font-size: 50px;
}

.contents_item2{
  font-size: 21px;
  margin-left: 33%;
  margin-top: -14%;
}

p{
  margin-top: 1%;
  margin-left: 33%;
  line-height: 30px;
}




/* News */
ul {
  width: 700px;
}

.News ul li {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.day {}

.label {
  background-color: #B13546;
  border-radius: 10px;
  color: #fff;
  padding: 2px 5px;
  margin: 0 20px;
  width: 80px;
  height: 18px;
}

.text {
}